body{
    font-family: 'Kanit', sans-serif;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
}
ul.menubar{
    list-style: none;
    background-color:white;
    border-color: transparent;
    font-weight: 700;
    padding-left: 200px;
    margin: 0;
    top: 0;
    overflow: auto;
    position: sticky;
    width: 100%;
}
li a{
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
}
a.home{
    font-size: 1.25em;
}
a.first{
    margin-left: 650px;
    margin-top: 5px;
}
a.second, a.third{
    padding-inline: 30px;
    margin-top: 5px;
}
a.home, a.first, a.second, a.third{
    text-decoration: none;
    color: black;
}
a.first:hover, a.second:hover, a.third:hover{
    color: seagreen
}
.brand{
    background-image: url(../img/brand.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%; height: 550px;
    background-repeat: no-repeat;
}
.purpose{
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: #0E6534;
    color: white;
    width: 100%;
}
h4.head-purpose{
    text-align: center;
    font-weight: 600;
    text-decoration: underline; 
    text-underline-position: under;
    padding-bottom: 20px;
}
.body-purpose{
    color: #e7e7e7f3;
    text-align: center;
    font-size: 20px;
}
.graphic{
    padding-top: 50px;
    margin: auto;
    width: 1200px;
}
.button-du{
    padding-left: 1110px;
}
h4.head-cal{
    padding-top: 20px;
    padding-left: 200px;
    font-size: 25px;
    font-weight: 500;
}
ul.btn-calculator{
    list-style: none;
    padding-top: 15px;
    padding-left: 300px;
    padding-bottom: 30px;
}
li a.button-bmi, li a.button-bmr{
    font-size: 14px;
    color: black;
    padding: 15px 20px;
    border-radius: 15px;
    background-color: rgba(238, 238, 238, 0.795);
    text-decoration: none;
}
li a.button-bmr{
    margin-left: 100px;
}
li a.button-bmi:hover, li a.button-bmr:hover{
    color: seagreen;
}
h3.health_diet{
    padding-top: 40px;
    padding-left: 200px;
    padding-bottom: 20px;
    font-size: 25px;
}
li a.picture{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    padding: 25px 20px;
    background-color: #9cc89b;
    color: black;
}
.linknews{
    padding-left: 250px;
    padding-bottom: 400px;
}
.head-credit{
    padding-left: 400px;
    background-image: url(/static/img/background_credit.jpg);
    background-size: inherit;
    padding-bottom: 400px;
}
p.members{
    font-size: 24px;
    background-color: white;
    padding: 15px 20px;
    border-radius: 15px;
}
