<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI_Calculator</title>
</head>
<body>
    <div class="menubar">
        <h1>PROJECT(RE)TIRE</h1>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/">Credit</a></li>
        </ul>
      </div>
    <h2>โปรแกรมคำนวณค่า BMI</h2>
    <h4>การหาค่าดัชนีมวลกาย (Body Mass Index : BMI) 
        คือเป็นมาตรการที่ใช้ประเมินภาวะอ้วนและผอมในผู้ใหญ่ ตั้งแต่อายุ 20 ปีขึ้นไป 
        สามารถทำได้โดยการชั่งน้ำหนักตัวเป็นกิโลกรัม และวัดส่วนสูงเป็นเซนติเมตร 
        แล้วนำมาหาดัชมีมวลกาย โดยใช้โปรแกรมวัดค่าความอ้วนข้างต้น
    </h4>
    <form action="/bmi" method="POST">
        Weight: <input name="kg_bmi_input" size="30px"/><br>
        Height: <input name="height_bmi_input" size="30px"/><br>
        <input type="submit" value="Analysis">
    </form>
    <h2>ค่า BMI ของคุณคือ : {{ bmi_ans }} </h2> 
    <br>{{ tips }}<br>
    <div class="credit">
        <h3>project(re)tire members</h3>
        <div class="member">
          <div class="number1">
            <h6>นายปรัตถกร สิงห์วิเศษ (ดรอป)</h6>
            <p3>63070101</p3>
          </div>
          <div class="number2">
            <h6>นายพฤฒพงศ์ สุขเจริญ</h6>
            <p3>63070113</p3>
          </div>
          <div class="number3">
            <h6>นายพัชรพล ศาศวัตเตชะ</h6>
            <p3>63070115</p3>
          </div>
          <div class="number4">
            <h6>นายภูฟ้า รุจิภาสวัฒน์</h6>
            <p3>63070137</p3>
          </div>
          <div class="number5">
            <h6>นายอริยพล อูนากูล</h6>
            <p3>63070186</p3>
          </div>
        </div>
      </div>
</body>
</html>