<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>BMI_Calculator</title>
</head>
<body>
    <div class="menubar">
            <a href="#" class="home">PSIT Project</a>
            <a href="/home" class="first">Home</a>
            <a href="/home#healthanddiet" class="second">Health & Diet</a>
            <a href="/home#members" class="third">Members</a>
    </div>
    <div class="title">
        <div class="container">
            <h2>โปรแกรมคำนวณค่า BMI</h2>
            <div class="detail">
                <p1>การหาค่าดัชนีมวลกาย (Body Mass Index : BMI) คือเป็นมาตรการที่ใช้ประเมินภาวะอ้วนและผอมในผู้ใหญ่ ตั้งแต่อายุ 20 ปีขึ้นไป สามารถทำได้โดยการชั่งน้ำหนักตัวเป็นกิโลกรัม และวัดส่วนสูงเป็นเซนติเมตร แล้วนำมาหาดัชมีมวลกาย โดยใช้โปรแกรมวัดค่าความอ้วนข้างต้น
                </p1>
            </div>
        </div>
    </div>
    <div class="input_zone">
        <div class="container">
            <form action="/bmi" method="POST">
                <label for="Weight">Weight :</label>
                <input name="kg_bmi_input" class="form-control" size="30px" /><br>
                <label for="Height">Height (cm) :</label>
                <input name="height_bmi_input" class="form-control" size="30px" /><br>
                <input type="submit" class="btn btn-outline-success" value="Analysis">
        </div>
        </form>
    </div>
    <div class="container">
        <br>
        <h2>ค่า BMI ของคุณคือ<br>{{ bmi_ans }} </h2>
        <div class="tips">
            <br>{{ tips }}<br>{{ result }}<br>{{ secret }}<br>

        </div>
        <div class="col-618">
            <table class="bmi-table" id="bmi-result-table">
                <tbody>
                    <tr class="">
                        <th class="first"><strong>BMI kg/m<sup>2</sup></strong></th>
                        <th><strong>อยู่ในเกณท์</strong></th>
                        <th class="last"><strong>ภาวะเสี่ยงต่อโรค</strong></th>
                    </tr>
                    <tr class="odd">
                        <td class="first"><span>น้อยกว่า 18.5 </span></td>
                        <td><span>น้ำหนักน้อย / ผอม</span></td>
                        <td class="last"><span>มากกว่าคนปกติ</span></td>
                    </tr>
                    <tr class="">
                        <td class="first"><span>ระหว่าง 18.50 - 22.9 </span></td>
                        <td><span>ปกติ (สุขภาพดี)</span></td>
                        <td class="last"><span>เท่าคนปกติ</span></td>
                    </tr>
                    <tr class="odd">
                        <td class="first"><span>ระหว่าง 23 - 24.9 </span></td>
                        <td><span>ท้วม / โรคอ้วนระดับ 1</span></td>
                        <td class="last"><span>อันตรายระดับ 1</span></td>
                    </tr>
                    <tr class="">
                        <td class="first"><span>ระหว่าง 25 - 29.9 </span></td>
                        <td><span>อ้วน / โรคอ้วนระดับ 2</span></td>
                        <td class="last"><span>อันตรายระดับ 2</span></td>
                    </tr>
                    <tr class="odd">
                        <td class="first"><span>มากกว่า 30</span></td>
                        <td><span>อ้วนมาก / โรคอ้วนระดับ 3</span></td>
                        <td class="last"><span>อันตรายระดับ 3</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="caculator">
            <a class="btn btn-primary" href="/bmr">BMR เครื่องคำนวณการเผาผลาญพลังงานของร่างกาย</a>
        </div>
</body>
