<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI_Calculator</title>
</head>
<body>
    <div class="menubar">
        <h1>PROJECT(RE)TIRE</h1>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/home#healthanddiet">Health & Diet</a></li>
          <li><a href="/home#members">Members</a></li>
        </ul>
    </div>
    <div class="title">
        <h2>โปรแกรมคำนวณค่า BMI</h2>
    </div>
    <div class="detail">
        <h4>การหาค่าดัชนีมวลกาย (Body Mass Index : BMI) 
            คือเป็นมาตรการที่ใช้ประเมินภาวะอ้วนและผอมในผู้ใหญ่ ตั้งแต่อายุ 20 ปีขึ้นไป 
            สามารถทำได้โดยการชั่งน้ำหนักตัวเป็นกิโลกรัม และวัดส่วนสูงเป็นเซนติเมตร 
            แล้วนำมาหาดัชมีมวลกาย โดยใช้โปรแกรมวัดค่าความอ้วนข้างต้น
        </h4>
    </div>
    <div class="input_zone">
    <form action="/bmi" method="POST">
        Weight: <input name="kg_bmi_input" size="30px"/><br>
        Height: <input name="height_bmi_input" size="30px"/><br>
        <input type="submit" value="Analysis">
    </form>
    </div>
    <div class="ans">
        <h2>ค่า BMI ของคุณคือ<br>{{ bmi_ans }} </h2> 
    </div>
    <div class="tips">
        <br>{{ tips }}<br>{{ result }}<br>{{ secret }}

    </div>
    <div class="caculator">
        <a href="/bmr">BMR เครื่องคำนวณการเผาผลาญพลังงานของร่างกาย</a>
      </div>
</body>
</html>
