<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style_homepage.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_homepage.css')}}">
    <title>Healthy Boys</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        window.onload = function() {

            var options = {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "ผู้ป่วยเบาหวาน ความดันโลหิตสูงที่ได้รับการประเมินโอกาสเสี่ยงต่อโรคหัวใจและหลอดเลือดในปี 2013-2019"
                },
                axisX: {
                    valueFormatString: "YYYY"
                },
                axisY: {
                    title: "จำนวนผู้ป่วย",
                    suffix: " คน",
                    minimum: 0
                },
                toolTip: {
                    shared: true
                },
                legend: {
                    cursor: "pointer",
                    verticalAlign: "bottom",
                    horizontalAlign: "right",
                    dockInsidePlotArea: true,
                    itemclick: toogleDataSeries
                },
                data: [{
                    type: "line",
                    showInLegend: true,
                    name: "ผู้ป่วยเบาหวาน ความดันโลหิตสูง",
                    markerType: "square",
                    color: "#F08080",
                    yValueFormatString: "#,##0 คน",
                    dataPoints: [{
                        label: 2013,
                        y: 321743
                    }, {
                        label: 2014,
                        y: 1552853
                    }, {
                        label: 2015,
                        y: 1909401
                    }, {
                        label: 2016,
                        y: 2136152
                    }, {
                        label: 2017,
                        y: 2366988
                    }, {
                        label: 2018,
                        y: 2428196
                    }, {
                        label: 2019,
                        y: 2463306
                    }, ]
                }, {
                    type: "line",
                    showInLegend: true,
                    name: "ผู้ป่วยเบาหวาน ความดันโลหิตสูงที่ขึ้นทะเบียนได้รับการประเมินโอกาสเสี่ยงต่อโรคหัวใจและหลอดเลือด",
                    lineDashType: "dash",
                    yValueFormatString: "#,##0 คน",
                    dataPoints: [{
                        label: 2013,
                        y: 52160
                    }, {
                        label: 2014,
                        y: 526152
                    }, {
                        label: 2015,
                        y: 374576
                    }, {
                        label: 2016,
                        y: 894994
                    }, {
                        label: 2017,
                        y: 1933386
                    }, {
                        label: 2018,
                        y: 2082596
                    }, {
                        label: 2019,
                        y: 2174829
                    }, ]
                }]
            };
            $("#chartContainer").CanvasJSChart(options);

            function toogleDataSeries(e) {
                if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else {
                    e.dataSeries.visible = true;
                }
                e.chart.render();
            }

        }
    </script>
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
</head>

<body>
    <div class="menubar">
        <a href="#" class="home">PSIT Project</a>
        <a href="/home" class="first">Home</a>
        <a href="/home#healthanddiet" class="second">Health & Diet</a>
        <a href="/home#members" class="third">Members</a>
    </div>
    <div class="brand"></div>
    <div class="purpose">
        <h3 class="head-purpose">จุดประสงค์ของการทำโปรเจคนี้</h3>
        <div class="body-purpose">
            <p1>ปัจจุบันทั้งเด็กและผู้ใหญ่ส่วนมากมักจะมีปัญหาในเรื่องของสุขภาพ ไม่ว่าจะมาจากการใช้ชีวิตประจำวัน<br> การบริโภคอาหารให้ถูกต้องตรงตามหลักโภชนาการ สิ่งเหล่านี้ล้วนแต่จะทำให้เกิดผลกระทบกับสุขภาพทั้งด้านดีและไม่ดี<br> ที่อาจเห็นผลกระทบในเร็ววันหรืออนาคตก็ได้
                ซึ่งก็ต้องขึ้นอยู่กับการใช้ชีวิตประจำวันและการบริโภคของแต่ละคน
                <br> ดังนั้นพวกเราจึงได้ศึกษาเกี่ยวกับเรื่องสุขภาพแล้ว นำมารวบรวมบนเว็บไซต์แห่งนี้ เพื่อให้บุคคลทั้งหลายหันมาใส่ใจ<br> ดูแลเสริมสร้างสุขภาพและปรับเปลี่ยนพฤติกรรมด้านสุขภาพ จากข้อมูลสุขภาพต่างๆที่ได้รับจากเว็บไซต์แห่งนี้
            </p1>
        </div>
        <div class="graphic">
            <div id="chartContainer" style="height: 300px; width: 1200px;"></div>
            <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
            <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
            <a class="btn btn-primary" target="_blank" href="https://hdcservice.moph.go.th/hdc/reports/report_kpi.php?flag_kpi_level=1&flag_kpi_year=2018&source=pformated/format1.php&id=71cff4a5f828ddbe688784c2659abfe9">ดูเพิ่มเติม</a><br>
        </div>
    </div>
    <div class="body">
        <br>
        <div class="container">
            <div class="caculator">
                <a class="btn btn-primary" href="/bmi">BMI เครื่องคำนวณดัชนีมวลร่างกาย</a>
                <a class="btn btn-primary" href="/bmr">BMR เครื่องคำนวณการเผาผลาญพลังงานของร่างกาย</a>
            </div>
        </div>
    </div>
    <div class="news">
        <div class="container">
            <h3>Health & Diet</h3>
            <div class="linknews" id="healthanddiet">
                <a href="http://www.facebook.com">เล่นโซเชียลยังไงให้หนุ่มตรึมมม</a>
                <a href="http://www.google.com">อยากดูแลสุขภาพ ต้องค้นว่าอะไรรร</a>
                <a href="http://www.instagram.com">แต่งรูปยังไง ให้ดูผอมมมมม</a>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="container">
        <div class="credit">
            <h3>project(re)tire members</h3>
            <div class="member" id="members">
                <div class="number1">
                    <h6>นายปรัตถกร สิงห์วิเศษ (ดรอป)</h6>
                    <h6>63070101</h6>
                </div>
                <div class="number2">
                    <h6>นายพฤฒพงศ์ สุขเจริญ</h6>
                    <h6>63070113</h6>
                </div>
                <div class="number3">
                    <h6>นายพัชรพล ศาศวัตเตชะ</h6>
                    <h6>63070115</h6>
                </div>
                <div class="number4">
                    <h6>นายภูฟ้า รุจิภาสวัฒน์</h6>
                    <h6>63070137</h6>
                </div>
                <div class="number5">
                    <h6>นายอริยพล อูนากูล</h6>
                    <h6>63070186</h6>
                </div>
            </div>
        </div>
    </div>


</body>

</html>