<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Healthy Boys</title>
</head>
<body>
  <div class="menubar">
    <h1>PROJECT(RE)TIRE</h1>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/">Credit</a></li>
    </ul>
  </div>
  <div class="LOGO">
    <h2>HEALTHY BOYS</h2>
  <div class="purpose">
    <h3>จุดประสงค์</h3>
    <div class="purpose-body">
      <p1>ปัจจุบันทั้งเด็กและผู้ใหญ่ส่วนมากมักจะมีปัญหาในเรื่องของสุขภาพ ไม่ว่าจะมาจากการใช้ชีวิตประจำวันหรือการบริโภคอาหารให้ถูกต้องตรงตามหลักโภชนาการ
        สิ่งเหล่านี้ล้วนแต่จะทำให้เกิดผลกระทบกับสุขภาพในทั้งด้านดีและไม่ดี ที่อาจเห็นผลกระทบในเร็ววันหรืออนาคตก็ได้ ซึ่งก็ต้องขึ้นอยู่กับการใช้ชีวิตประจำวันและการบริโภคของแต่ละคน
        ดังนั้นพวกเราจึงได้ศึกษาเกี่ยวกับเรื่องสุขภาพแล้วนำมารวบรวมบนเว็บไซต์แห่งนี้ เพื่อให้บุคคลทั้งหลาย หันมาใส่ใจดูแลเสริมสร้างสุขภาพและปรับเปลี่ยนพฤติกรรมด้านสุขภาพ จากข้อมูลสุขภาพต่างๆที่ได้รับจากเว็บไซต์แห่งนี้
      </p1>
    </div>
  </div>
  </div>
  <div class="body">
    <div class="caculator">
      <a href="/bmi">BMI เครื่องคำนวณดัชนีมวลร่างกาย</a>
      <a href="/bmr">BMR เครื่องคำนวณการเผาผลาญพลังงานของร่างกาย</a>
    </div>
    <div class="news">
      <h3>เคล็ดลับน่ารู้</h3>
      <div class="linknews">
      <a href="http://www.facebook.com">เล่นโซเชียลยังไงให้หนุ่มตรึมมม</a>
      <a href="http://www.google.com">อยากดูแลสุขภาพ ต้องค้นว่าอะไรรร</a>
      <a href="http://www.instagram.com">แต่งรูปยังไง ให้ดูผอมมมมม</a>
      </div>
    </div>
  </div>
  <div class="credit">
    <h3>project(re)tire members</h3>
    <div class="member">
      <div class="number1">
        <h6>นายปรัตถกร สิงห์วิเศษ (ดรอป)</h6>
        <p3>63070101</p3>
      </div>
      <div class="number2">
        <h6>นายพฤฒพงศ์ สุขเจริญ</h6>
        <p3>63070113</p3>
      </div>
      <div class="number3">
        <h6>นายพัชรพล ศาศวัตเตชะ</h6>
        <p3>63070115</p3>
      </div>
      <div class="number4">
        <h6>นายภูฟ้า รุจิภาสวัฒน์</h6>
        <p3>63070137</p3>
      </div>
      <div class="number5">
        <h6>นายอริยพล อูนากูล</h6>
        <p3>63070186</p3>
      </div>
    </div>
  </div>

  
</body>
</html>