<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Healthy Boys</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    window.onload = function () {
    
    var options = {
      animationEnabled: true,
      theme: "light2",
      title:{
        text: "ผู้ป่วยเบาหวาน ความดันโลหิตสูงที่ได้รับการประเมินโอกาสเสี่ยงต่อโรคหัวใจและหลอดเลือดในปี 2013-2019"
      },
      axisX:{
        valueFormatString: "YYYY"
      },
      axisY: {
        title: "จำนวนผู้ป่วย",
        suffix: " คน",
        minimum: 0
      },
      toolTip:{
        shared:true
      },  
      legend:{
        cursor:"pointer",
        verticalAlign: "bottom",
        horizontalAlign: "left",
        dockInsidePlotArea: true,
        itemclick: toogleDataSeries
      },
      data: [{
        type: "line",
        showInLegend: true,
        name: "ผู้ป่วยเบาหวาน ความดันโลหิตสูง",
        markerType: "square",
        color: "#F08080",
        yValueFormatString: "#,##0 คน",
        dataPoints: [
          { label: 2014, y: 1552853 },
          { label: 2015, y: 1909401 },
          { label: 2016, y: 2136152 },
          { label: 2017, y: 2366988 },
          { label: 2018, y: 2428196 },
          { label: 2019, y: 2463306 },
        ]
      },
      {
        type: "line",
        showInLegend: true,
        name: "ผู้ป่วยเบาหวาน ความดันโลหิตสูงที่ขึ้นทะเบียนได้รับการประเมินโอกาสเสี่ยงต่อโรคหัวใจและหลอดเลือด",
        lineDashType: "dash",
        yValueFormatString: "#,##0 คน",
        dataPoints: [
          { label: 2014, y: 526152 },
          { label: 2015, y: 374576 }, 
          { label: 2016, y: 894994 },
          { label: 2017, y: 1933386 },
          { label: 2018, y: 2082596 },
          { label: 2019, y: 2174829 },
        ]
      }]
    };
    $("#chartContainer").CanvasJSChart(options);
    
    function toogleDataSeries(e){
      if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
        e.dataSeries.visible = false;
      } else{
        e.dataSeries.visible = true;
      }
      e.chart.render();
    }
    
    }
    </script>
</head>
<body>
  <div class="menubar">
    <h1>PROJECT(RE)TIRE</h1>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="#healthanddiet">Health & Diet</a></li>
      <li><a href="#members">Members</a></li>
    </ul>
  </div>
  <div class="container">
  <div class="LOGO">
    <h2>HEALTHY BOYS</h2>
  <div class="purpose">
    <h3>จุดประสงค์</h3>
    <div class="purpose-body">
      <p1>ปัจจุบันทั้งเด็กและผู้ใหญ่ส่วนมากมักจะมีปัญหาในเรื่องของสุขภาพ ไม่ว่าจะมาจากการใช้ชีวิตประจำวันหรือการบริโภคอาหารให้ถูกต้องตรงตามหลักโภชนาการ
        สิ่งเหล่านี้ล้วนแต่จะทำให้เกิดผลกระทบกับสุขภาพในทั้งด้านดีและไม่ดี ที่อาจเห็นผลกระทบในเร็ววันหรืออนาคตก็ได้ ซึ่งก็ต้องขึ้นอยู่กับการใช้ชีวิตประจำวันและการบริโภคของแต่ละคน
        ดังนั้นพวกเราจึงได้ศึกษาเกี่ยวกับเรื่องสุขภาพแล้วนำมารวบรวมบนเว็บไซต์แห่งนี้ เพื่อให้บุคคลทั้งหลาย หันมาใส่ใจดูแลเสริมสร้างสุขภาพและปรับเปลี่ยนพฤติกรรมด้านสุขภาพ จากข้อมูลสุขภาพต่างๆที่ได้รับจากเว็บไซต์แห่งนี้
      </p1>
    </div>
  </div>
  </div>
  </div>
  <div class="graphic">
  <div id="chartContainer" style="height: 300px; width: 100%;"></div>
  <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
  <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</div>
  <div class="container">
  <div class="body">
    <div class="container">
    <div class="caculator">
      <a class="btn btn-primary" target="_blank" href="/bmi">BMI เครื่องคำนวณดัชนีมวลร่างกาย</a>
      <a class="btn btn-primary" target="_blank" href="/bmr">BMR เครื่องคำนวณการเผาผลาญพลังงานของร่างกาย</a>
    </div>
  </div>
    <div class="news">
      <h3>Health & Diet</h3>
      <div class="linknews" id="healthanddiet">
      <a href="http://www.facebook.com">เล่นโซเชียลยังไงให้หนุ่มตรึมมม</a>
      <a href="http://www.google.com">อยากดูแลสุขภาพ ต้องค้นว่าอะไรรร</a>
      <a href="http://www.instagram.com">แต่งรูปยังไง ให้ดูผอมมมมม</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="credit">
    <h3>project(re)tire members</h3>
    <div class="member" id="members">
      <div class="number1">
        <h6>นายปรัตถกร สิงห์วิเศษ (ดรอป)</h6>
        <p3>63070101</p3>
      </div>
      <div class="number2">
        <h6>นายพฤฒพงศ์ สุขเจริญ</h6>
        <p3>63070113</p3>
      </div>
      <div class="number3">
        <h6>นายพัชรพล ศาศวัตเตชะ</h6>
        <p3>63070115</p3>
      </div>
      <div class="number4">
        <h6>นายภูฟ้า รุจิภาสวัฒน์</h6>
        <p3>63070137</p3>
      </div>
      <div class="number5">
        <h6>นายอริยพล อูนากูล</h6>
        <p3>63070186</p3>
      </div>
    </div>
  </div>
  </div>

  
  
</body>
</html>
