<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Boys</title>
</head>
<body>
    <h1>Project PSIT</h1>
    <br>
    <h2 align="center">About</h2>
    <h3 align="center">ปัจจุบันเริ่มมีการสนใจปัญหาของด้านสุขภาพมากยิ่งขึ้น จึงหาวิธีที่จะทำให้สุขภาพร่างกายแข็งแรงไม่ว่าจะเป็นการออกกำลังกาย
        หรือแม้กระทั่งการกินอาหารเพื่อที่จะให้ร่างกายได้รับสารอาหารที่ครบถ้วนเพียงพอต่อการใช้ในชีวิตประจำวัน
        จึงได้มีการคำนวณค่า BMIเพื่อประกอบการตัดสินใจในการเลือกอาหารและออกกำลังกาย</h3>
    <form action="/bmi" method="POST">
    <center>KG: <input name="kg"/><br><br>
    Height: <input name="high"/><br><br>
    <input type="submit" value="Analysis"></center>
    </form>
    
</body>
</html>
