body{
    font-family: 'Kanit', sans-serif;
    background-image: url("img/background.jpg");
    background-size: 1600px 1200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.menubar{
    background-color: white;
    padding: 15px;
}
a.home{
    padding-left: 15%;
}
a.first{
    margin-left: 40%;
}
a.second, a.third{
    margin-left: 5%;
}
.title{
    padding-top: 40px;
}